@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.about {
  &__card {
    background-color: $white;
    border-radius: 16px;
    border: solid 1px #b2c5f3;
    filter: drop-shadow(0px 4px 12px #c4d5fb);
    @include flex-column;
    gap: 2rem;
    padding: 2rem;

    @include breakpoint-min-size($desktop){
    @include flex-row;
    @include centered;
    }

    &-right {
      @include flex-column;
      justify-content: space-between;
      gap: 0.5rem;
    }
  }

  &__top {
    @include flex-column;
    gap:2rem;
    padding:1rem;

    @include breakpoint-min-size($desktop){
      padding:3.5rem 8rem;
    }

    &-container {
      @include flex-column;
      box-sizing: border-box;
      margin-top: 1rem;
      background-color: #dbe6ff;
      border-radius: 16px;
      width: 100%;
      padding: 1rem;


      @include breakpoint-min-size($desktop) {
        padding: 3rem 6rem;
      }
    }

    &-card{
      background-color: #fff;
      border-radius:8px;
      padding:1rem;

      @include breakpoint-min-size($desktop) {
        padding: 1rem 2rem;

      }
    }
  }

  &__h2 {
    @include m-bold-heading-large;
    @include removeMargin;
    @include breakpoint-min-size($desktop) {
      padding-left: 0;
    }
  }
}

.card {
  &__name {
    @include m-serif-lg;
    @include removeMargin;
    font-weight: 700;
    font-size: 2rem;
  }

  &__desc {
    @include m-body;
    @include removeMargin;
    font-weight: 600;
  }

  &__item-list {
    list-style: none;
    padding-inline-start: 0;
    @include flex-column;
    gap: 0.5rem;
  }

  &__item {
    @include flex-row;
    align-items: center;
    gap: 0.5rem;

    &-text {
      @include m-body;
      @include removeMargin;
      font-size: 14px;
    }
  }

  &__caption {
    @include m-captions;
    color: #89898e;
    font-size: 0.65rem;
    font-weight: 500;
  }

  &__photo {
    max-width: 175px;
    position: relative;
  }

  &__sparkles {
    z-index: 2;
    position: absolute;
    left: 1;
    top: 1;
  }
}

.resume-things {
  @include flex-column;
  max-width: 100%;
  width: 100%;
  gap: 1rem;
}

.hackathon-things {
  max-width: 100%;
  width: 100%;
}

.horizontal{
  @include flex-column;
  gap:2rem;

  @include breakpoint-min-size($desktop) {
    @include flex-row;
     align-items: stretch;
  }
}

.rec-container{
  background-color: #fff;
  border-radius: 16px;
}