@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.page__container {
  position: relative;
  z-index: 5;
  background-color: $white;
}

.about {
  &__card {
    background-color: $white;
    border-radius: 16px;
    border: solid 1px #b2c5f3;
    filter: drop-shadow(0px 4px 12px #c4d5fb);
    @include flex-column;
    gap: 2rem;
    padding: 2rem;

    @include breakpoint-min-size($desktop){
    @include flex-row;
    @include centered;
    }

    &-right {
      @include flex-column;
      justify-content: space-between;
      gap: 0.5rem;
    }
  }

  &__top {
    @include flex-column;
    gap:2rem;
    padding:1rem;

    @include breakpoint-min-size($desktop){
      padding:3.5rem 8rem;
    }

    &-container {
      @include flex-column;
      box-sizing: border-box;
      margin-top: 1rem;
      background-color: #dbe6ff;
      border-radius: 16px;
      width: 100%;
      padding: 1rem;


      @include breakpoint-min-size($desktop) {
        padding: 3rem 6rem;
      }
    }

    &-card{
      background-color: #fff;
      border-radius:8px;
      padding:1rem;

      @include breakpoint-min-size($desktop) {
        padding: 1rem 2rem;

      }
    }
  }

  &__h2 {
    @include m-bold-heading-large;
    @include removeMargin;
    @include breakpoint-min-size($desktop) {
      padding-left: 0;
    }
  }
}

.card {
  &__name {
    @include m-serif-lg;
    @include removeMargin;
    font-weight: 700;
    font-size: 2rem;
  }

  &__desc {
    @include m-body;
    @include removeMargin;
    font-weight: 600;
  }

  &__item-list {
    list-style: none;
    padding-inline-start: 0;
    @include flex-column;
    gap: 0.5rem;
  }

  &__item {
    @include flex-row;
    align-items: center;
    gap: 0.5rem;

    &-text {
      @include m-body;
      @include removeMargin;
      font-size: 14px;
    }
  }

  &__caption {
    @include m-captions;
    color: #89898e;
    font-size: 0.65rem;
    font-weight: 500;
  }

  &__photo {
    max-width: 175px;
    position: relative;
  }

  &__sparkles {
    z-index: 2;
    position: absolute;
    left: 1;
    top: 1;
  }
}

.work {
  &__header {
    @include m-body-serif;
    margin-block-end: 0;
  }

  &__list {
    padding-inline-start: 0;
    margin-block-start: 0.5rem;

    &-item {
      list-style: none;
      padding-bottom: 0.5rem;
      @include m-body;

      @include breakpoint-min-size($desktop) {
      }
    }
  }
}

.professional-stuff {
  @include flex-row;
  justify-content: left;
  padding-bottom: 2.5rem;
  gap: 1rem;

  @include breakpoint-min-size($tablet) {
    padding-bottom: 0;
    justify-content: center;
    width: 70%;
  }

    @include breakpoint-min-size($desktop) {
    width: 60%;
  }

  &__left {
    width: 55%;
  }

  &__right {
    width: 45%;
  }

  &__box {
    @include flex-column;
    width: 100%;
    gap: 1rem;
  }
}

.resume-things {
  @include flex-column;
  max-width: 100%;
  width: 100%;
  gap: 1rem;
}

.hackathon-things {
  max-width: 100%;
  width: 100%;
}

.story-things {
  box-sizing: border-box;
  border: 1px solid #b2c5f3;
  border-radius: 8px;
  padding: 1.4rem;
  background: linear-gradient(
    180deg,
    rgba(250, 252, 255, 1) 0%,
    rgba(219, 230, 255, 0.2) 100%
  );
}

.after-hours {
  padding: 0 1rem;
  padding-bottom: 2.5rem;

  @include breakpoint-min-size($tablet) {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
  }

  &__container {
    @include breakpoint-min-size($tablet) {
      width: 70%;
    }

    @include breakpoint-min-size($desktop) {
      width: 61%;
    }
  }

  &__titles {
    @include breakpoint-min-size($desktop) {
      @include flex-row;
      align-items: flex-end;
      width: 66%;
      justify-content: flex-start;
      gap: 3rem;
    }
  }

  &__grid {
    @include breakpoint-min-size($desktop) {
      @include flex-row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 0.5rem;
    }
  }

  &__header {
    @include m-bold-heading-large;
    margin-block-end: 0;
  }

  &__subheader {
    @include m-body-serif;
    @include removeMargin;
  }
}

.summary {
  @include flex-column;
  justify-content: space-between;
  gap: 1.5rem;

  &__heading {
    @include m-body;
    @include removeMargin;
    color: #5e5e5e;
    font-size: 0.8rem;
  }

  &__content {
    font-family: "Uncut Sans", sans-serif;
    font-size:1.2rem;
    padding: 1rem 0rem;
    color:$black;
    @include removeMargin;
  }
}


.horizontal{
  @include flex-column;
  gap:2rem;

  @include breakpoint-min-size($desktop) {
    @include flex-row;
     align-items: stretch;
  }
}

.rec-container{
  background-color: #fff;
  border-radius: 16px;
}