@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";
@import "../../styles/partials/_ThemeColors";

.about {
  &__content {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 2.2rem;
    @include m-h2-style;
  }
  &__bullet-list {
    gap: 0.8rem;
    padding-inline-start: 2rem;
    padding-bottom: 1rem;
    @include flex-column;
    @include removeMargin;

    &--item {
      font-size: 0.9rem;
      padding-left: 0.5rem;
      max-width: 85%;
    }
  }
  &__card {
    background-color: $white;
    border-radius: 16px;
    border: solid 1px #b2c5f3;
    filter: drop-shadow(0px 4px 12px #c4d5fb);
    gap: 2rem;
    padding: 2rem;
    @include flex-column;
    @include breakpoint-min-size($tablet) {
      max-width: 500px;
      @include flex-row;
      @include centered;
    }

    &-right {
      justify-content: space-between;
      gap: 0.5rem;
      @include flex-column;
    }
  }

  &__top {
    gap: 2rem;
    padding: 1rem;
    padding-top: 3rem;
    @include flex-column;

    @include breakpoint-min-size($desktop) {
      padding: 3.5rem 4rem;
      max-width: 70%;
    }

    &-container {
      align-items: center;
      box-sizing: border-box;
      margin-top: 1rem;
      background-color: $blue-accent;
      border-radius: 16px;
      width: 100%;
      padding: 1rem;
      @include flex-column;

      @include breakpoint-min-size($tablet) {
        padding: 3rem 5rem;
      }
    }

    &-card {
      max-width: 100%;
      border-radius: 8px;
      padding: 1rem;
      box-sizing: border-box;
      border: 1px solid white;
      background-color: rgba(255, 255, 255, 0.3);
      // @include themed() {
      //   background-color: t("card");
      // }

      @include breakpoint-min-size($desktop) {
        padding: 1rem 2rem;
        max-width: 1160px;
      }
    }
  }

  &__h2 {
    @include m-bold-heading-large;
    @include removeMargin;
    @include breakpoint-min-size($desktop) {
      padding-left: 0;
    }
  }
}

.card {
  &__name {
    @include m-serif-lg;
    @include removeMargin;
    font-weight: 700;
    font-size: 2rem;
  }

  &__desc {
    @include m-body;
    @include removeMargin;
    font-weight: 600;
  }

  &__item-list {
    list-style: none;
    padding-inline-start: 0;
    @include flex-column;
    gap: 0.5rem;
  }

  &__item {
    @include flex-row;
    align-items: center;
    gap: 0.5rem;

    &-text {
      @include m-body;
      @include removeMargin;
      font-size: 14px;
    }
  }

  &__caption {
    @include m-captions;
    color: #89898e;
    font-size: 0.65rem;
    font-weight: 500;
  }

  &__photo {
    max-width: 175px;
    position: relative;
  }
}

.resume-things {
  max-width: 100%;
  width: 100%;
  gap: 1rem;
  @include flex-column;
}

.hackathon-things {
  max-width: 100%;
  width: 100%;
}

.horizontal {
  gap: 2rem;
  @include flex-column;
  @include breakpoint-min-size($desktop) {
    @include flex-row;
    align-items: stretch;
    max-width: 80%;
    max-width: 1160px;
  }
}

.rec-container {
  @include card-background;
  @include breakpoint-min-size($desktop) {
    max-width: 80%;
    max-width: 1160px;
  }
  // @include themed() {
  //   background-color: t("card");
  // }
}
