@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";
@import "../../styles/partials/_ThemeColors";

.container {
  padding-top: 5rem;
  gap: 2rem;
  @include flex-column;
  width: 90%;

  @include breakpoint-min-size($desktop) {
    padding-top: 1rem;
    width: 80%;
    max-width: 1160px;
  }

  &__card {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
    border-radius: 8px;
    padding: 1rem;
  }

  &__row {
    @include flex-column;
    gap: 1rem;

    @include breakpoint-min-size($tablet) {
      @include flex-row;
    }
  }

  &__graphics {
    @include flex-column;
    gap: 1rem;

    @include breakpoint-min-size($tablet) {
      @include flex-row;
      flex-wrap: wrap;
    }

    @include breakpoint-min-size($desktop) {
      gap: 1rem;
    }
  }

  &__box {
    @include flex-column;
    align-items: center;

    @include breakpoint-min-size($desktop) {
      padding: 4rem 4rem;
      align-items: flex-start;
    }
  }
}

.graphics {
  &__header {
    font-family: "Uncut Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;

    @include removeMargin;
    @include themed() {
      color: t("text");
    }
  }

  &__org {
    @include removeMargin;
    @include m-body;
    font-size: 1rem;
    text-decoration: none;
    @include themed() {
      color: t("text");
    }
  }

  &__info {
    @include flex-column;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    gap: 0.5rem;
  }

  &__img {
    width: 100%;

    @include breakpoint-min-size($tablet) {
      flex-grow: 1;
      width: fill;
      max-width: 31.6%;
    }

    @include breakpoint-min-size($desktop) {
      max-width: 32.3%;
    }
  }
}
