@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";
@import "../../styles/partials/_ThemeColors";

.container {
  width: 100%;
  padding-top: 5rem;

  @include breakpoint-min-size($desktop) {
    padding-top: 1rem;
    width: 80%;
    max-width: 1160px;
  }

  &__graphics {
    @include flex-column;
    padding: 2rem;
    gap: 1rem;

    @include breakpoint-min-size($tablet) {
      @include flex-row;
      flex-wrap: wrap;
    }

    @include breakpoint-min-size($desktop) {
      padding-bottom: 4%;
      padding-left: 1.5rem;
    }

    & > div {
      width: 100%;
      @include breakpoint-min-size($tablet) {
        width: 30%;
      }
    }
  }

  &__box {
    @include flex-column;
    align-items: center;

    @include breakpoint-min-size($desktop) {
      padding: 3.5rem 4rem;
      align-items: flex-start;
    }
  }
}

.graphics {
  &__header {
    @include m-body;
    padding-left: 1.5rem;

    @include themed() {
      color: t("text");
    }
  }

  &__img {
    width: 100%;
  }
}

span {
  font-weight: 600;
}
