@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";
@import "../../styles/partials/_ThemeColors";

.container {
  width: 100%;
  padding-top: 5rem;
  gap: 2rem;
  @include flex-column;

  @include breakpoint-min-size($desktop) {
    padding-top: 1rem;
    width: 80%;
    max-width: 1160px;

    &__card {
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid white;
      border-radius: 8px;
      padding: 1rem;
    }
  }

  &__graphics {
    @include flex-column;
    gap: rem;

    @include breakpoint-min-size($tablet) {
      @include flex-row;
      flex-wrap: wrap;
    }

    @include breakpoint-min-size($desktop) {
      padding-bottom: 4%;
      gap: 1rem;
    }
  }

  &__box {
    @include flex-column;
    align-items: center;

    @include breakpoint-min-size($desktop) {
      padding: 4rem 4rem;
      align-items: flex-start;
    }
  }
}

.graphics {
  &__header {
    @include m-body;
    padding-left: 1.5rem;

    @include themed() {
      color: t("text");
    }
  }

  &__img {
    width: 100%;

    @include breakpoint-min-size($tablet) {
      flex-grow: 1;
      width: fill;
      max-width: 31.6%;
    }

    @include breakpoint-min-size($desktop) {
      max-width: 31.6%;
    }
  }
}

span {
  font-weight: 600;
}
