@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";
@import "../../styles/partials/_ThemeColors";

iframe {
  width: 70%;
  height: 12rem;
  @include breakpoint-min-size($desktop) {
    height: 24rem;
  }
}

.content {
  padding: 1.5rem 1.5rem;
  @include breakpoint-min-size($tablet) {
    @include flex-row;
    justify-content: center;
  }

  &__summary {
    max-width: 90%;
    padding: 2rem 0;
    @include m-h1-style;
    @include removeMargin;
    // @include themed() {
    //   color: t("text");
    // }
  }

  &__story-heading {
    padding-bottom: 1rem;
    @include removeMargin;
    @include m-h2-style;
    @include removeMargin;
    // @include themed() {
    //   color: t("text");
    // }

    &-main {
      padding: 1rem 0;
      @include m-h2-style;
      @include removeMargin;
      // @include themed() {
      //   color: t("text");
      // }
    }
  }

  &__box {
    @include breakpoint-min-size($tablet) {
      width: 70%;
    }

    @include breakpoint-min-size($desktop) {
      width: 60%;
    }
  }

  &__bg {
    padding: 4rem 1rem;
    flex-grow: 1;
    margin-bottom: 0.5rem;
    @include flex-column;
    @include centered;
    @include card-background;
    @include breakpoint-min-size($desktop) {
      width: fit-content;
    }

    &-max {
      width: 100%;
      padding: 4rem 0;
      margin-bottom: 2rem;
      @include flex-column;
      @include centered;
      @include card-background;
    }
  }

  &__group {
    padding-bottom: 2rem;

    &-main {
      width: 100%;
      padding-bottom: 2rem;
      @include breakpoint-min-size($desktop) {
        width: 72%;
      }
    }
  }

  &__section-heading {
    padding-bottom: 0.5rem;
    @include m-bold-heading-large;
    @include removeMargin;
  }

  &__body {
    padding-bottom: 0.5rem;
    @include m-body;
    @include removeMargin;
    @include breakpoint-min-size($desktop) {
      font-size: 1.1rem;
    }
    // @include themed() {
    //   color: t("text");
    // }
  }

  &__hl {
    font-weight: 700;
    @include m-body;
    // @include themed() {
    //   color: t("text");
    // }
  }

  &__inline-link {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    @include m-text-link;

    &:hover {
      background-color: $tan-background;
    }
  }

  &__examples {
    padding-top: 1.5rem;
    @include flex-column;

    @include breakpoint-min-size($desktop) {
      @include flex-row;
      gap: 1rem;
      padding-bottom: 1rem;
    }
  }

  &__images {
    max-width: 17rem;

    @include breakpoint-min-size($desktop) {
      max-width: 30rem;
    }

    &-tall {
      max-height: 18rem;
    }
  }
}

.bullets {
  @include flex-column;
  width: 100%;

  @include breakpoint-min-size($desktop) {
    justify-content: space-between;
  }

  &__box {
    padding-bottom: 2rem;
    flex-grow: 1;
  }

  &__heading {
    font-weight: 700;
    @include m-body;
    @include removeMargin;
    @include themed() {
      color: t("text");
    }
  }

  &__list {
    list-style: none;
    padding-inline-start: 0;
    @include removeMargin;
  }

  &__text {
    width: 100%;
    @include m-body;
    @include removeMargin;
    // @include themed() {
    //   color: t("text");
    // }

    &-insights {
      width: 100%;
      padding-bottom: 0.5rem;
      @include m-body;
      @include removeMargin;
      font-size: 1.1rem;
      // @include themed() {
      //   color: t("text");
      // }
    }
  }

  &__layered {
    list-style: lower-latin;
    padding-bottom: 2rem;
  }
}

.pull-quote {
  padding: 2rem;
  @include card-background;
  // @include themed() {
  //   background-color: t("icon-bg");
  // }
  &__highlight {
    margin: 0rem 0.2rem;
    font-weight: 700;
  }
  &__body {
    padding-bottom: 1rem;
    width: 86%;
    line-height: 1.6rem;
    @include m-body;
    font-size: 1.2rem;
    @include removeMargin;
    // @include themed() {
    //   color: t("text");
    // }
  }

  &__attribution {
    @include m-body;
    font-size: 0.9rem;
  }
}

.caption {
  @include m-captions;
}

#appendix-body {
  padding-bottom: 1rem;
}

.divider {
  @include m-body;
  font-weight: 700;
  color: $blue;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  border-bottom: 1px solid $blue;
  margin-bottom: 2rem;
}

.project-link {
  @include flex-row;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.5rem;

  &:hover {
    background-color: $tan-background;
  }

  &__tag {
    text-decoration: none;
  }
}

.coming-soon {
  background-color: $blue;
  padding: 0.5rem 1rem;
  border-radius: 4px;

  &__tag {
    @include m-body;
    @include removeMargin;
    color: $white;
  }
}

.context__container {
  @include breakpoint-min-size($desktop) {
    @include flex-row;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
}

#context {
  @include breakpoint-min-size($desktop) {
    width: 68%;
    padding-right: 4rem;
  }
}

#context-bullets {
  padding-top: 2rem;
  justify-content: flex-start;
  @include flex-column;

  @include breakpoint-min-size($tablet) {
    padding-top: 2rem;
    @include flex-row;
    flex-grow: 1;
  }
  @include breakpoint-min-size($desktop) {
    padding-top: 0rem;
    @include flex-column;
    width: fit-content;
  }
}

#appendix {
  @include breakpoint-min-size($desktop) {
    @include flex-row;
  }
}

.project__img {
  width: 80%;
}

div:has(> img.project__img) {
  @include flex-row;
  justify-content: center;
  align-items: flex-start;
}

#long {
  width: 80%;
}

.bold {
  font-weight: 700;
}

.solution-box {
  padding-bottom: 4rem;
}

#video-caption {
  padding-top: 0.5rem;
  width: 70%;
  text-align: center;
}

.alt {
  height: fit-content;
}

.people {
  padding-bottom: 2rem;
  @include flex-column;
  @include breakpoint-min-size($tablet) {
    @include flex-row;
    justify-content: space-between;
  }

  &__group {
    @include breakpoint-min-size($tablet) {
      width: 30%;
    }
  }
}
