@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600;9..144,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/uncut-sans@5.0.6/index.min.css");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');