@import "../../styles/partials/_Variables";

// FLEXBOX
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// MEDIA QUERIES
@mixin breakpoint-min-size($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin breakpoint-range($breakpoint1, $breakpoint2) {
  @media (min-width: $breakpoint1) and (max-width: $breakpoint2) {
    @content;
  }
}

@mixin breakpoint-max-size($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

// COMMON STYLING
@mixin card-background {
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.3);
}

@mixin centered {
  align-items: center;
  justify-content: center;
}

@mixin removeMargin {
  margin-block-end: 0;
  margin-block-start: 0;
}

// FONT STYLES - MOBILE

@mixin m-h1-style {
  font-family: "Uncut Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: $black;
}

@mixin m-h2-style {
  font-family: "Uncut Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: $black;
}

@mixin m-body {
  font-family: "Uncut Sans";
  font-weight: 500;
  font-size: 1rem;
  color: $black;
}

@mixin m-bold-heading-large {
  font-family: "Uncut Sans", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: $black;
}

@mixin m-captions {
  font-family: "Uncut Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #5e5e5e;
}

// THE GAP

@mixin m-nav-links {
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 1.2rem;
  color: $blue;
  text-decoration: none;
}

@mixin m-serif-lg {
  font-family: "Fraunces", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  color: $black;
}

@mixin m-bold-story-heading {
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 2rem;
  color: $black;
}

@mixin m-bold-heading {
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 1.6rem;
  color: $black;
}

@mixin m-body-serif {
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 1.2rem;
  color: $black;
}

@mixin m-text-link {
  font-family: "Uncut Sans";
  font-weight: 600;
  font-size: 1rem;
  color: $blue;
  text-decoration: none;
}

@mixin m-divider {
  font-family: "Uncut Sans", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: $blue;
}
