// BREAKPOINTS
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
$xl-desktop: 1400px;

// COLORS
// -----> BLACK
$black: #1e1800;
$black-2: #0e0e0e;
$black-3: #2f2f2f;
$black-4: #342520;
$black-5: #070707;

// -----> GREY
$grey: #6f6f6f;
$grey-2: #c2c2c2;
$grey-3: #3b3b3b;

// -----> BLUE
$blue: #4069cc;
$blue-highlight: #d3eaff;
$blue-accent: #dbe6ff;
$dark-blue: #0c2970;

// ----->  TAN
$tan-background: #f5f0ec;

// -----> WHITE
$white: #f3f3f9;
$white-2: #f5f5f5;
