@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.panel-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* Take full viewport height */
  display: flex;
  align-items: center; /* Horizontal centering (if needed) */
  justify-content: center; /* ❗Vertically center the inner content */
  flex-direction: column;
  width: clamp(150px, 30vw, 400px);
  box-sizing: border-box;
  z-index: 10;
  opacity:0.7;
  transition: opacity 0.3s ease;
  
  &:hover{
    opacity:1;

  }

@include breakpoint-max-size($desktop){
    display:none;
}



}