@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";
@import "../../styles/partials/_ThemeColors";

.projects-container {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 2rem 0rem;

  @include breakpoint-min-size($desktop) {
    padding: 2rem 0rem;
  }
}

.projects-box {
  @include flex-column;
  align-items: center;

  @include breakpoint-min-size($desktop) {
    padding: 1.5rem 4rem;
    align-items: flex-start;
  }

  &__container {
    @include flex-column;
    gap: 2rem;
    width: 80%;
    max-width: 1160px;
  }

  &__link {
    text-decoration: none;
  }
}

.mobile-container {
  @include flex-column;
  align-items: center;
  padding-top: 5rem;

  @include breakpoint-min-size($desktop) {
    display: none;
  }

  &__summary {
    width: 80%;
  }

  &__title {
    font-family: "Uncut Sans", sans-serif;
    font-size: 1rem;
    font-weight: 600;
  }
}

.moon-button {
  position: absolute;
  right: 4rem;
  top: 3.5rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  stroke: $black;

  &:hover {
    background-color: $blue-highlight;
  }
}
