@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

#root{
  background-color: #FAFAFA;
}

.projects-container{
  padding: 2rem;
  min-height: 100vh;
  box-sizing: border-box;
}

.projects-box {

@include breakpoint-min-size($desktop) {
    padding: 1.5rem 6rem;

}


  &__container {
    @include flex-column;
    gap:2rem;
  }

  &__link {
    text-decoration: none;
  }
}
