@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";
@import "../../styles/partials/_ThemeColors";

.recommendations {
  &__box {
    padding: 1.5rem 1.5rem;
    padding-bottom: 6rem;
    @include flex-row;
    justify-content: center;
  }

  &__container {
    width: 100%;
    position: relative;
    padding-top: 4rem;
    padding-bottom: 5rem;
    min-height: 300px;
    @include flex-column;
    justify-content: center;
  }

  &__content {
    @include flex-column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__info {
    @include flex-row;
    margin-right: 2rem;
    margin-bottom: 1rem;
    justify-content: flex-end;
    gap: 2rem;
  }

  &__actions {
    @include flex-row;
    align-items: center;
  }

  &__number {
    @include m-body;
    font-weight: 600;
    @include themed() {
      color: t("secondary-text");
    }
  }

  &__message {
    font-family: "Uncut Sans", sans-serif;
    @include removeMargin;
    font-size: 1.1rem;
  }

  &__attribution {
    @include m-body;
    font-size: 0.8rem;
    font-weight: 700;
    @include themed() {
      color: t("secondary-text");
    }
  }
}

.arrow__right,
.arrow__left {
  stroke: $blue;
  transition: stroke 0.3s ease;
}

.arrow__right:hover,
.arrow__left:hover {
  stroke: #e1e6f3;
}
