@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";
@import "../../styles/partials/_ThemeColors";

.project {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.5rem;
  overflow: hidden;
  @include card-background;
  // @include themed() {
  //   background: t("card");
  // }

  &__ic {
    @include themed() {
      stroke: t("icon-stroke");
    }
  }

  &__skills {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $blue;
    padding-top: 1rem;
    will-change: opacity, transform;
  }

  &__tags {
    @include flex-row;
    align-items: center;
    gap: 0.8rem;
  }

  &__icon {
    aspect-ratio: 1/1;
    width: 2rem;
    @include flex-column;
    @include centered;
    border-radius: 4px;

    // @include themed() {
    //   background: t("icon-bg");
    // }
  }

  &__img-container {
    height: 7rem;
    width: 100%;
    border-radius: 8px;
    @include flex-row;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;

    @include breakpoint-min-size($tablet) {
      height: 16rem;
    }

    @include breakpoint-min-size($desktop) {
      height: 16rem;
    }

    @include breakpoint-min-size(1600px) {
      height: 20rem;
    }
  }

  &__location {
    @include removeMargin;
    @include m-body;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-decoration: none;
    @include themed() {
      color: t("secondary-text");
    }
  }

  &__group-img {
    width: 73%;
  }

  &__info {
    padding-top: 1rem;

    @include breakpoint-min-size($desktop) {
      justify-content: space-between;
      max-width: 100%;
      align-items: flex-start;
    }
  }

  &__logo {
    max-width: 72%;
    height: auto;
    // display: block;
    // transform-origin: center;
    // width: 70%;
  }

  &__title {
    font-family: "Uncut Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
    @include removeMargin;
    @include themed() {
      color: t("text");
    }
  }

  &__desc {
    @include removeMargin;
    @include m-body;
    font-size: 0.8rem;

    @include themed() {
      color: t("secondary-text");
    }
  }
}

.indent {
  border-left: 1px solid $blue;
  margin-left: 0;
  padding-left: 1rem;
}

.hashtag {
  color: $blue;
}
