@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.project {
  position: relative;
  background-color:#fff;
  padding: 1.5rem;
  border-radius:8px;

    &__ic{
    stroke: $black;
  }

  &__top-bit, &__skills{
    @include flex-row;
    align-items: center;
    gap:0.8rem;
    padding-bottom:1rem;
  }


  &__skills{
    @include flex-row;
    align-items: center;
    gap:0.8rem;
    padding:0.6rem 0;
    border-top: 1px solid $blue;

  }

 &__icon{
    aspect-ratio: 1/1;
    width:2rem;
    @include flex-column;
    background-color: $tan-background;
    border-radius:4px;
    align-items: center;
    justify-content:center;
  }

  &__img-container {
    height: 12rem;
    width: 100%;
    border-radius: 8px;
    @include flex-row;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;

    @include breakpoint-min-size($desktop) {
      height: 16rem;
    }

    @include breakpoint-min-size(1600px) {
      height: 20rem;
    }
  }

  &__location{ 
    @include removeMargin;
    font-family:"Space Mono";
    font-weight:500;
    font-size:0.9rem;
    text-decoration: none;
    color:$black;

  }

  &__group-img {
    width: 73%;
  }

  &__info {
    padding-top: 0.6rem;

    @include breakpoint-min-size($desktop) {
      justify-content: space-between;
      max-width: 100%;
      align-items: flex-start;
    }
  }

  &__logo {
    width: 70%;
  }

  &__title {
    font-family: "Uncut Sans", sans-serif;
    font-size:1.5rem;
    padding-bottom:2rem;
    color:$black;
    @include removeMargin;


  }

  &__desc {
    @include removeMargin;
    @include m-body;
    color:#808080;

    @include breakpoint-min-size($desktop) {
      font-size: 0.9rem;
    }
  }

  &__accent-top {
    position: absolute;
    left: -1rem;
    top: -1rem;
  }

  &__accent-bottom {
    position: absolute;
    bottom: 0rem;
    right: -1rem;
  }
}


.indent{
  border-left: 1px solid $blue;
  margin-left:0;
  padding-left:1rem;
}