@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";
@import "../../styles/partials/_ThemeColors";

.nav {
  @include flex-row;
  justify-content: center;
  position: relative;
  height: 48px;

  @include breakpoint-min-size($desktop) {
    display: none;
  }

  &__link {
    @include m-body;
    font-size: 1.1rem;
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
  }

  &__text {
    position: relative;
    z-index: 2;
    transition: color 0.3s ease;
    text-decoration: none;
    @include m-body;
    color: black;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $tan-background;
    z-index: 1;
  }

  &__container {
    @include flex-row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 3rem;
    width: 100%;
    background-color: $tan-background;
    position: fixed;
    z-index: 10;

    @include themed() {
      background-color: t("menu-bar");
    }
  }

  &__links {
    display: none;
    @include breakpoint-min-size($tablet) {
      gap: 1rem;
      @include flex-row;
    }
  }

  &__mobile-menu {
    @include flex-row;
    @include breakpoint-min-size($desktop) {
      display: none;
    }
  }

  &__logo-img {
    width: 70%;
  }
}

.mobile-menu {
  width: 2rem;
}

.mobile-nav {
  width: 80%;
  margin: auto;
  height: fit-content;
  margin-bottom: 2rem;
  border-radius: 16px;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
  @include themed() {
    background-color: t("button");
  }

  @include breakpoint-min-size($desktop) {
    display: none;
  }

  &__box {
    @include flex-column;
  }

  &__link {
    @include m-body;
    font-weight: 600;
    text-decoration: none;
    padding: 1.1rem;
    @include themed() {
      background-color: t("button");
      color: t("text");
    }
    &:hover {
      @include themed() {
        background-color: t("moon-hover");
      }
    }
  }
}
