@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.nav {
  @include flex-row;
  justify-content: center;

  @include breakpoint-min-size($desktop){
    display:none;
  }

  &__link {
    @include m-body;
    font-size: 1.1rem;
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
  }

  &__text {
    position: relative;
    z-index: 2;
    transition: color 0.3s ease;
    text-decoration: none;
    @include m-body;
    color: black;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $tan-background;
    z-index: 1;
  }

  &__container {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;
    width: 100%;
  }

  &__links {
    display: none;
    @include breakpoint-min-size($tablet) {
      gap: 1rem;
      @include flex-row;
    }
  }

  &__mobile-menu {
    @include flex-row;
    @include breakpoint-min-size($desktop) {
      display: none;
    }
  }

  &__logo-img {
    width: 60%;
  }
}

.mobile-menu {
  width: 2rem;
}

.mobile-nav {
  width: 100%;
  height: fit-content;
  background-color: #f5f0ec;
  margin-bottom: 2rem;
  display: block;

  @include breakpoint-min-size($desktop) {
    display: none;
  }

  &__box {
    @include flex-column;
  }

  &__link {
    @include m-body;
    font-weight: 600;
    text-decoration: none;
    padding: 1.1rem;
    background-color: #f5f0ec;

    &:hover {
      background-color: $blue;
      color: white;
    }
  }
}
