@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.context {
  @include flex-column;
  align-items: center;

  &__container--alt {
    margin: 1rem 0;
    width: 90%;
    @include breakpoint-min-size($tablet) {
      width: 70%;
    }

    @include breakpoint-min-size($desktop) {
      width: 61%;
    }
  }

  &__heading-stack {
    @include flex-column;
    align-items: left;
    gap: 0.5rem;
  }

  &__icon-text {
    @include flex-row;
    padding-left: 1rem;
    gap: 1rem;
  }

  &__title {
    @include m-h1-style;
    @include removeMargin;
    padding-left: 1rem;
  }

  &__desc {
    @include m-serif-lg;
    padding-left: 1rem;
  }
}

.books {
  @include flex-row;
  gap: 1rem;
  padding: 2rem 1rem;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.page__heading {
  @include m-bold-heading;
  padding-left: 1rem;
}
