@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";
@import "../../styles/partials/_ThemeColors";

.moon-button {
  position: absolute;
  right: 4rem;
  top: 3.5rem;
  padding: 1rem;
  border-radius: 8px;
  @include themed() {
    background-color: t("icon-button");
    stroke: t("moon-stroke");
    border: 1px solid t("moon-stroke");
  }

  &:hover {
    @include themed() {
      background-color: t("moon-hover");
    }
  }
}
