@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.p {
  &__header {
    width: 100%;
    height: 100%;
    @include flex-column;

    @include breakpoint-min-size($desktop) {
    }
  }

  &__arrow {
    margin-left: 1rem;
    height:3rem;
    stroke: white;
    transition: stroke 0.3s ease-in;

    &:hover {
      stroke: $blue;
 
    }

    &-div {
      width: 100%;
      padding-top: 1rem;
    }
  }

  &__logo {
    width: 60%;
    &-div {
      width: 100%;
      @include flex-row;
      align-items: baseline;
      justify-content: center;
      height: 100%;
    }
  }
}
