@import "./styles/partials/_Variables";
@import "./styles/partials/_ThemeColors";

body {
  @include findTheme() {
    background-color: t("bg");
  }
}

body.theme--dark {
  background-color: #1e1800;
}

body.theme--default {
  background-color: #fafafa;
}
