@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.nav-row{
  @include flex-row;
  gap:0.5rem;

  &__item{
    background-color:$tan-background;
    border-radius: 8px;
    width:2.5rem;
    @include flex-row;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1; 
  }
}

.top-paragraph {
  @include flex-column;
  position:fixed;
  width:auto;
  gap:1rem;
  padding-left: 2rem;

  

&__img{ 

  height:200px;
  border-radius:8px;
  background-color:$tan-background;
}
}

.big {
  &__container {
    @include flex-row;
    align-items: center;
    gap: 0.5rem;
  }

  &__title {
    @include removeMargin;
    font-family: "Uncut Sans", sans-serif;
    font-size:1rem;
    padding-bottom: 0.5rem;


  }

  &__desc {
  @include removeMargin;
  font-family: "Uncut Sans", sans-serif;
  font-weight:300;
  font-size:1.1rem;


  }

  &__sparkle-container {
    height: 100%;
  }
}

.sparkle-group {
  height: 2rem;
  padding-top: 0.2rem;
  display: none;

  @include breakpoint-min-size($tablet) {
    display: block;
  }
}

.single-sparkle {
  height: 1rem;
}

.list {
  &__container {
    padding-left: 1rem;

    @include breakpoint-min-size($desktop) {
      @include flex-row;
      gap: 0.6rem;
    }
  }

  &__desc {
    @include removeMargin;
    @include m-body;
    @include flex-row;
    align-items: center;
    @include breakpoint-min-size($desktop) {
      font-size: 1.1rem;
    }
  }

  &__item {
    @include flex-row;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
  }

  &__inline {
    font-weight: 600;
    color: $blue;
    padding-left: 0.3rem;

    &:hover {
      background-color: $tan-background;
    }
  }
}
