@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.img-file {
  max-width: 80%;
}

.bg-main {
  background-color: #dbe6ff;
}

.bg-boxpals {
  background-color: #8fbaa3;
}

.bg-guusto {
  background-color: #717fae;
}

.bg-cultivate {
  background-color: #8eaf6e;
}

.nav-row {
  @include flex-row;
  gap: 0.5rem;

  &__text {
    font-family: "Uncut Sans";
    font-size: 1rem;
    color: $black;
    @include removeMargin;
  }

  &__link {
    text-decoration: none;
  }

  &__item {
    background-color: #f6f6f6;
    border-radius: 8px;
    @include flex-row;
    align-items: center;
    justify-content: center;
    border: 1px solid #cdcdcd;
    transition: background-color 0.3s ease;
    padding: 0.25rem 0.75rem;
    gap: 0.5rem;

    &:hover {
      background-color: #dbe6ff;

      .nav-row__icon {
        stroke: $blue;
      }
    }
  }

  &__icon {
    stroke: $black;
  }
}

.top-paragraph {
  @include flex-column;
  position: fixed;
  width: auto;
  gap: 1rem;
  padding-left: 2rem;

  &__img {
    @include flex-row;
    @include centered;
    height: 200px;
    border-radius: 8px;
  }
}

.big {
  &__container {
    @include flex-row;
    align-items: center;
    gap: 0.5rem;
  }

  &__title {
    @include removeMargin;
    font-family: "Uncut Sans", sans-serif;
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }

  &__desc {
    @include removeMargin;
    font-family: "Uncut Sans", sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
  }

  &__sparkle-container {
    height: 100%;
  }
}

.sparkle-group {
  height: 2rem;
  padding-top: 0.2rem;
  display: none;

  @include breakpoint-min-size($tablet) {
    display: block;
  }
}

.single-sparkle {
  height: 1rem;
}

.list {
  &__container {
    padding-left: 1rem;

    @include breakpoint-min-size($desktop) {
      @include flex-row;
      gap: 0.6rem;
    }
  }

  &__desc {
    @include removeMargin;
    @include m-body;
    @include flex-row;
    align-items: center;
    @include breakpoint-min-size($desktop) {
      font-size: 1.1rem;
    }
  }

  &__item {
    @include flex-row;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
  }

  &__inline {
    font-weight: 600;
    color: $blue;
    padding-left: 0.3rem;

    &:hover {
      background-color: $tan-background;
    }
  }
}
