@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";
@import "../../styles/partials/_ThemeColors";

.img-file {
  max-width: 60%;
}

.nav-row {
  @include flex-row;
  justify-content: space-between;
  margin-left: -0.7rem;
  max-width: 90%;
  &__text {
    font-family: "Uncut Sans";
    font-size: 1rem;
    @include removeMargin;
    @include themed() {
      color: t("text");
    }
  }

  &__link {
    text-decoration: none;
    width: 100%;
  }

  &__item {
    border-radius: 8px;
    @include flex-row;
    transition: background-color 0.3s ease;
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: center;

    &:hover {
      @include themed() {
        background-color: t("moon-hover");
      }
      .nav-row__text {
        color: $blue;
      }
      .nav-row__icon {
        stroke: $blue;
      }
    }
  }

  &__icon {
    @include themed() {
      stroke: t("icon-stroke");
    }
  }
}

.top-paragraph {
  @include flex-column;
  position: fixed;
  width: auto;
  gap: 1rem;
  padding-left: 8rem;

  &__img {
    @include flex-row;
    @include centered;
    height: 180px;
    border-radius: 8px;
    background-color: #dbe6ff;
    width: 86%;
  }
}

.big {
  &__container {
    @include flex-row;
    align-items: center;
    gap: 0.5rem;
  }

  &__title {
    @include removeMargin;
    font-family: "Uncut Sans", sans-serif;
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }

  &__desc {
    @include removeMargin;
    font-family: "Uncut Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 2rem;
    width: 95%;
  }

  &__sparkle-container {
    height: 100%;
  }
}

.sparkle-group {
  height: 2rem;
  padding-top: 0.2rem;
  display: none;

  @include breakpoint-min-size($tablet) {
    display: block;
  }
}

.single-sparkle {
  height: 1rem;
}

.list {
  &__container {
    padding-left: 1rem;

    @include breakpoint-min-size($desktop) {
      @include flex-row;
      gap: 0.6rem;
    }
  }

  &__desc {
    @include removeMargin;
    @include m-body;
    @include flex-row;
    align-items: center;
    @include breakpoint-min-size($desktop) {
      font-size: 1.1rem;
    }
  }

  &__item {
    @include flex-row;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
  }

  &__inline {
    font-weight: 600;
    color: $blue;
    padding-left: 0.3rem;

    &:hover {
      background-color: $tan-background;
    }
  }
}
